<div class="server-render__collection-item-wrapper server-render__collection-item-wrapper_ixe server-render__collection__items-align--center_3Js item-0"
     style="flex-basis:100%">
    <div class="server-render__collection-item_3Gl server-render__collection-item--columns-size-8_1X1"
         style="flex-basis:">
        <div class="w-grid__item w-grid__item--middle w-text-center-xs w-text-center-sm w-text-center-md w-text-center">
            <div class="w-grid__item-inner w-088754deb0dd8820b733e12d9894218e w-grid__item-panel item-0">
                <div class="w-picture-wrapper media-wrapper_3VN">
                    <picture class="w-picture ui-picture_2i5"
                             style="padding-top:58.32%" data-component="picture"
                             data-images="[]"
                             data-fallbackurl="{{ instance.photo.url }}"
                             data-was-processed="true"><img
                            alt="Image {{ instance.photo.url }}"
                            data-fallback-url="{{ instance.photo.url }}"
                            class="w-picture__image ui-image_3aJ"
                            style="object-fit:cover;object-position:50% 67.583%;font-family:object-fit: cover;50% 67.583%"
                            src="{{ instance.photo.url }}">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</div>