{% extends "base.html" %}{% load cms_tags menu_tags static %}
{% block content %}
 <div class="w-grid__item-inner w-grid__item-panel w-text-center-xs w-text-center-sm w-text-center-md w-text-center w-088754deb0dd8820b733e12d9894218e">
                                            <p class="text_1k0 ui-blockTitle w-title" data-component="text"><span
                                                    class="w-text-block" style="display:block"><span
                                                    class="w-text-content">Яка наша мета?</span></span></p></div>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div class="w-section__content">
                            <div data-columns-count="1" data-columns-inner-size="10" data-component="collection"
                                 data-collection-mode="collection"
                                 class="collection w-a5e8f34460cd41cdfd4ef4e7d651ab43 w-grid w-grid--collection w-grid--gap w-grid--center"
                                 data-items-count="2">
                                <div class="w-grid__inner">
                                    <div class="w-grid__item w-grid__item--top w-text-center-xs w-text-center-sm w-text-center-md w-text-center">
                                        <div class="w-grid__item-inner w-088754deb0dd8820b733e12d9894218e w-grid__item-panel">
                                            <p class="text_1k0 ui-text w-body" data-component="text"><span
                                                    style="display:block" class="w-text-block w-text-center-xs "><span
                                                    class="w-text-content">На прикладі регіону в обраній країні, що трансформується, студенти вивчають, наскільки соціоекономічні та політичні процеси впливають на екосистеми та пропонують шляхи покращення якості екосистемного менеджменту, використовуючи отримані знання під час вивчення дисципліни. Студентам надається можливість виявити та застосувати екосистемні та соціоекономічні показники для оцінки потенційних змін у системі.</span></span>
                                            </p></div>
                                    </div>
                                    <div class="w-grid__item w-grid__item--top w-text-center-xs w-text-center-sm w-text-center-md w-text-center">
                                        <div class="w-grid__item-inner w-088754deb0dd8820b733e12d9894218e w-grid__item-panel">
                                            <p class="text_1k0 ui-text w-body" data-component="text"><span
                                                    style="display:block" class="w-text-block w-text-center-xs "><span
                                                    class="w-text-content">Крім теоретичної підготовки та загальної інформації про регіон, студенти знаходяться в реальних ситуаціях екосистемного менеджменту на обраних для дослідження територіях Східної Європи та навчаються їх інтерпретувати на основі знань про трансформаційні процеси та на основі обміну думками з місцевими експертами. Перевага надається біосферним заповідникам як об’єктам для вивчення. Досліджується наскільки вони можуть втілити у життя ключовий аспект концепції біосферних заповідників – бути лабораторіями для сталого розвитку за умов соціополітичних та соціоекономічних трансформацій, а також глобальних змін у навколишньому середовищі.</span></span>
                                            </p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="w-blocks-group-wrapper blocks-group-wrapper_2QF">
            <div id="blockId-649bed59c5ff21000f216fad" data-block-name="about-3" data-block-categories="about"
                 data-test="block-wrapper" data-anchor="about"
                 class="block-wrapper w-block-wrapper block-wrapper_3Um background_3lr background w-state-has-background">
                <div style="display:none" id="about"></div>
                <div class="w-block-background background-wrapper_RZ2" aria-hidden="true" data-background--hide="false"
                     data-component="background" data-type="color" data-data-loaded="true">
                    <div class="background_2xT" style="background:#fff" data-role="placeholder"></div>
                </div>
                <section class="w-section">
                    <div class="w-section__inner">
                        <header class="w-section__header">
                            <div class="w-grid w-grid--row w-grid--gap" data-columns-count="1">
                                <div class="w-grid__inner">
                                    <div class="w-grid__item w-grid__item--top">
                                        <div class="w-grid__item-inner w-grid__item-panel w-text-left-xs w-text-left-sm w-text-left-md w-text-left w-088754deb0dd8820b733e12d9894218e">
                                            <h2 class="text_1k0 ui-blockTitle w-title" data-component="text"><span
                                                    style="display:block" class="w-text-block w-text-center "><span
                                                    class="w-text-content">Співпраця</span></span></h2></div>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div class="w-section__content">
                            <div class="w-grid w-grid--row w-grid--gap" data-columns-count="3">
                                <div class="w-grid__inner">
                                    <div class="w-grid__item w-grid__item--middle" data-column-size="2">
                                        <div class="w-grid__item-inner w-grid__item-panel w-text-left-xs w-text-left-sm w-text-left-md w-text-left w-088754deb0dd8820b733e12d9894218e">
                                            <div class="w-picture-wrapper media-wrapper_3VN">
                                                <picture class="w-picture ui-picture_2i5" style="padding-top:69.41%"
                                                         data-component="picture" data-images="[]"
                                                         data-fallbackurl="//res2.weblium.site/res/648ae0fa3bc700000f7e2313/648b64f18c6731000fb08a84_optimized"
                                                         data-was-processed="true"><img alt="Illustration"
                                                                                        data-fallback-url="//res2.weblium.site/res/648ae0fa3bc700000f7e2313/648b64f18c6731000fb08a84_optimized"
                                                                                        class="w-picture__image ui-image_3aJ"
                                                                                        style="object-fit:contain;object-position:50% 50%;font-family:object-fit: contain;50% 50%"
                                                                                        src="{% static 'emtc.great-site.net/Ecosystem Management in Transformation Countries_files/eberswalde.png' %}">
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-grid__item w-grid__item--top" data-column-size="8">
                                        <div class="w-grid__item-inner w-grid__item-panel w-text-center-xs w-text-center-sm w-text-center-md w-text-center w-088754deb0dd8820b733e12d9894218e">
                                            <p class="text_1k0 ui-text w-body" data-component="text"><span
                                                    style="display:block" class="w-text-block "><span
                                                    class="w-text-content">З початку 2016 року студенти НЛТУ України мають можливість разом зі студентами Університету сталого розвитку в Еберсвальде (Німеччина) брати участь у навчальній практиці, яка традиційно проводиться в Українських Карпатах. Студенти Університету Еберсвальде вивчають досвід екосистемного менеджменту в країнах, що трансформуються, зазвичай після розпаду колишніх комуністичних режимів.</span></span><br><span
                                                    style="display:block" class="w-text-block "><span
                                                    class="w-text-content">У 2023 році було прийнято рішення зміцнити цю співпрацю шляхом включення навчальної дисципліни "Екосистемний менеджмент у країнах, що трансформуються" у якості вибіркової компоненти декількох освітньо-професійних програм НЛТУ України. Розробка методичного забезпечення та включення цієї дисципліни стало можливим завдяки німецько-українському проекту "Спільне навчання для зміцнення та стійкості академічної спільноти в Україні".</span></span><br><span
                                                    style="display:block" class="w-text-block "><span
                                                    class="w-text-content">Участь студентів НЛТУ України у навчальній подорожі разом зі студентами Університету сталого розвитку Еберсвальде традиційно фінансувалася за рахунок бюджету проектів, що реалізовувалися в рамках програми "Діалог між Сходом та Заходом" Федерального міністерства закордонних справ Німеччини.</span></span>
                                            </p></div>
                                    </div>
                                    <div class="w-grid__item w-grid__item--middle" data-column-size="2">
                                        <div class="w-grid__item-inner w-grid__item-panel w-text-left-xs w-text-left-sm w-text-left-md w-text-left w-088754deb0dd8820b733e12d9894218e">
                                            <div class="w-picture-wrapper media-wrapper_3VN">
                                                <picture class="w-picture ui-picture_2i5" style="padding-top:64.71%"
                                                         data-component="picture" data-images="[]"
                                                         data-fallbackurl="//res2.weblium.site/res/644fcd315c0438000da93b4d/644fd0b5a2d1e2000d36b1eb_optimized"
                                                         data-was-processed="true"><img alt="Illustration"
                                                                                        data-fallback-url="//res2.weblium.site/res/644fcd315c0438000da93b4d/644fd0b5a2d1e2000d36b1eb_optimized"
                                                                                        class="w-picture__image ui-image_3aJ"
                                                                                        style="object-fit:contain;object-position:50% 50%;font-family:object-fit: contain;50% 50%"
                                                                                        src="{% static 'emtc.great-site.net/Ecosystem Management in Transformation Countries_files/nltu2.png' %}">
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="w-blocks-group-wrapper blocks-group-wrapper_2QF">
            <div id="blockId-649bed59c5ff21000f216fb7" data-block-name="about-5" data-block-categories="about"
                 data-test="block-wrapper" data-anchor="about-1"
                 class="block-wrapper w-block-wrapper block-wrapper_3Um background_3lr background w-state-has-background">
                <div style="display:none" id="about-1"></div>
                <div class="w-block-background background-wrapper_RZ2" aria-hidden="true" data-background--hide="false"
                     data-component="background" data-type="color" data-data-loaded="true">
                    <div class="background_2xT" style="background:#fff" data-role="placeholder"></div>
                </div>
                <section class="w-section">
                    <div class="w-section__inner">
                        <header class="w-section__header">
                            <div class="w-grid w-grid--row w-grid--gap" data-columns-count="1">
                                <div class="w-grid__inner">
                                    <div class="w-grid__item w-grid__item--top">
                                        <div class="w-grid__item-inner w-grid__item-panel w-text-center-xs w-text-center-sm w-text-center-md w-text-center w-088754deb0dd8820b733e12d9894218e">
                                            <p class="text_1k0 ui-blockTitle w-title" data-component="text"><span
                                                    class="w-text-block" style="display:block"><span
                                                    class="w-text-content">Локації</span></span></p></div>
                                    </div>
                                </div>
                            </div>
                        </header>
                    </div>
                </section>
            </div>
        </div>
        <div class="w-blocks-group-wrapper blocks-group-wrapper_2QF">
            <div id="blockId-649bed59c5ff21000f216f8f" data-block-name="blank-custom-block-columns"
                 data-block-categories="other" data-test="block-wrapper" data-anchor="sea-the-world"
                 class="block-wrapper w-block-wrapper block-wrapper_3Um background_3lr background w-state-has-background">
                <div style="display:none" id="sea-the-world"></div>
                <div class="w-block-background background-wrapper_RZ2" aria-hidden="true" data-background--hide="false"
                     data-component="background" data-type="color" data-data-loaded="true">
                    <div class="background_2xT" style="background:#fff" data-role="placeholder"></div>
                </div>
                <section class="w-section">
                    <div class="w-section__inner">
                        <div class="w-section__content">
                            <div class="w-grid w-grid--row w-961e4e88b8b00786b122233d4589e44f w-grid--custom-gap w-grid--gap"
                                 data-columns-count="2">
                                <div class="w-grid__inner">
                                    <div class="w-grid__item w-grid__item--top">
                                        <div class="w-grid__item-inner w-grid__item-panel w-text-left-xs w-text-left-sm w-text-left-md w-text-left w-088754deb0dd8820b733e12d9894218e">
                                            <span class="w-picture-wrapper media-wrapper_3VN scaleWrapper_2Hv"><picture
                                                    class="w-picture hidden_3w8 ui-picture_2i5"
                                                    style="padding-top:78.52%" data-component="picture"
                                                    data-animation="slide-in-bottom_LLR normal_2Pr" data-images="[]"
                                                    data-fallbackurl="//res2.weblium.site/res/648ae0fa3bc700000f7e2313/648afc0a93ce09000ff9aa0b_optimized_960_c960x1280-0x0"
                                                    data-was-processed="true"><img alt="Illustration"
                                                                                   data-fallback-url="//res2.weblium.site/res/648ae0fa3bc700000f7e2313/648afc0a93ce09000ff9aa0b_optimized_960_c960x1280-0x0"
                                                                                   class="w-picture__image ui-image_3aJ"
                                                                                   style="object-fit:cover;object-position:50% 55.405%;font-family:object-fit: cover;50% 55.405%"
                                                                                   src="{% static 'emtc.great-site.net/Ecosystem Management in Transformation Countries_files/648afc0a93ce09000ff9aa0b_optimized_960_c960x1280-0x0' %}"></picture><button
                                                    class="btn_openLightbox_3nS"
                                                    data-lightbox="{&quot;mainSrc&quot;:&quot;//res2.weblium.site/res/648ae0fa3bc700000f7e2313/648afc0a93ce09000ff9aa0b_optimized&quot;,&quot;reactModalStyle&quot;:{},&quot;wrapperClassName&quot;:&quot;&quot;}"
                                                    type="button"></button></span>
                                            <p class="text_1k0 ui-heading w-heading hidden_3w8" data-component="text"
                                               data-animation="slide-in-bottom_LLR normal_2Pr"><span
                                                    style="display:block" class="w-text-block w-text-left "><span
                                                    class="w-text-content">Село Cатік Та Розсадники</span></span></p>
                                            <p class="text_1k0 ui-text w-body hidden_3w8" data-component="text"
                                               data-animation="slide-in-bottom_LLR normal_2Pr"><span
                                                    style="display:block" class="w-text-block "><span
                                                    class="w-text-content">Проект "Tree nurseries" спрямований на відновлення лісових екосистем.&nbsp;</span></span><span
                                                    style="display:block" class="w-text-block "><span
                                                    class="w-text-content">У рамках проекту здійснюється вирощування сіянців місцевих деревних порід, які згодом висаджуються на ділянках, що були знелісненні у минулому.&nbsp;</span></span><span
                                                    style="display:block" class="w-text-block "><span
                                                    class="w-text-content">Часто значні за площею ділянки, які зазнали суцільних рубок у минулому, є деградованими. На цих ділянках процес природнього відновлення буде тривати дуже довго.&nbsp;</span></span><span
                                                    style="display:block" class="w-text-block "><span
                                                    class="w-text-content">Тому проект "Tree nurseries" покликаних відновити лісові екосистеми на деградованих внаслідок суцільних рубок ділянках, розташованих у Румунських Карпатах.</span></span>
                                            </p></div>
                                    </div>
                                    <div class="w-grid__item w-grid__item--top">
                                        <div class="w-grid__item-inner w-grid__item-panel w-text-left-xs w-text-left-sm w-text-left-md w-text-left w-088754deb0dd8820b733e12d9894218e">
                                            <div class="w-picture-wrapper media-wrapper_3VN">
                                                <picture class="w-picture hidden_3w8 ui-picture_2i5"
                                                         style="padding-top:78.89%" data-component="picture"
                                                         data-animation="slide-in-bottom_LLR normal_2Pr"
                                                         data-images="[]"
                                                         data-fallbackurl="//res2.weblium.site/res/648ae0fa3bc700000f7e2313/648f2c5a28798d000f0c5708_optimized_1316_c1316x987-0x0"
                                                         data-was-processed="true"><img alt="Illustration"
                                                                                        data-fallback-url="//res2.weblium.site/res/648ae0fa3bc700000f7e2313/648f2c5a28798d000f0c5708_optimized_1316_c1316x987-0x0"
                                                                                        class="w-picture__image ui-image_3aJ"
                                                                                        style="object-fit:cover;object-position:50% 63.946%;font-family:object-fit: cover;50% 63.946%"
                                                                                        src="{% static 'emtc.great-site.net/Ecosystem Management in Transformation Countries_files/648f2c5a28798d000f0c5708_optimized_1316_c1316x987-0x0' %}">
                                                </picture>
                                            </div>
                                            <p class="text_1k0 ui-heading w-heading hidden_3w8" data-component="text"
                                               data-animation="slide-in-bottom_LLR normal_2Pr"><span
                                                    style="display:block" class="w-text-block w-text-justify "><span
                                                    class="w-text-content">Табір Дикої Природи «Пояна Тамас»&nbsp;</span></span>
                                            </p>
                                            <p class="text_1k0 ui-text w-body hidden_3w8" data-component="text"
                                               data-animation="slide-in-bottom_LLR normal_2Pr"><span
                                                    class="w-text-block" style="display:block"><span
                                                    class="w-text-content">Знеліснення має значний вплив на зміну температурного режиму території. Ліси відіграють роль природного затінення, поглинаючи у процесі фотосинтезу значну кількість сонячного світла. У випадку знеліснення значної за площею території відбувається більш інтенсивне нагрівання земної поверхні. Це призводить до підвищення температури повітря навколишньої території.<br>Водний баланс також страждає внаслідок знеліснення, оскільки ліси утримують вологу в ґрунті, поглинаючи дощову воду та підтримуючи певний рівень вологості лісової ділянки. Погіршення водорегулюючої функції лісу позначається на рівні ґрунтових вод, а також на рівні води в річках та озерах. Є тісний зв’язок між температурним та гідрологічним режимами території: за нинішніх умов, порушення гідрологічного режиму сприяє подальшому росту температури повітря.</span></span>
                                            </p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="w-blocks-group-wrapper blocks-group-wrapper_2QF">
            <div id="blockId-649bed59c5ff21000f216f99" data-block-name="blank-custom-block-columns"
                 data-block-categories="other" data-test="block-wrapper" data-anchor="sea-the-world-more"
                 class="block-wrapper w-block-wrapper block-wrapper_3Um background_3lr background w-state-has-background">
                <div style="display:none" id="sea-the-world-more"></div>
                <div class="w-block-background background-wrapper_RZ2" aria-hidden="true" data-background--hide="false"
                     data-component="background" data-type="color" data-data-loaded="true">
                    <div class="background_2xT" style="background:#fff" data-role="placeholder"></div>
                </div>
                <section class="w-section">
                    <div class="w-section__inner">
                        <div class="w-section__content">
                            <div class="w-grid w-grid--row w-grid--gap" data-columns-count="2">
                                <div class="w-grid__inner">
                                    <div class="w-grid__item w-grid__item--top">
                                        <div class="w-grid__item-inner w-grid__item-panel w-text-left-xs w-text-left-sm w-text-left-md w-text-left w-088754deb0dd8820b733e12d9894218e">
                                            <div class="w-picture-wrapper media-wrapper_3VN">
                                                <picture class="w-picture hidden_3w8 ui-picture_2i5"
                                                         style="padding-top:76.67%" data-component="picture"
                                                         data-animation="slide-in-bottom_LLR normal_2Pr"
                                                         data-images="[]"
                                                         data-fallbackurl="//res2.weblium.site/res/648ae0fa3bc700000f7e2313/648afc0dbd6a30000f79f083_optimized_960_c960x1280-0x0"
                                                         data-was-processed="true"><img alt="Illustration"
                                                                                        data-fallback-url="//res2.weblium.site/res/648ae0fa3bc700000f7e2313/648afc0dbd6a30000f79f083_optimized_960_c960x1280-0x0"
                                                                                        class="w-picture__image ui-image_3aJ"
                                                                                        style="object-fit:cover;object-position:100% 50%;font-family:object-fit: cover;100% 50%;filter:saturate(156%)"
                                                                                        src="{% static 'emtc.great-site.net/Ecosystem Management in Transformation Countries_files/648afc0dbd6a30000f79f083_optimized_960_c960x1280-0x0' %}">
                                                </picture>
                                            </div>
                                            <p class="text_1k0 ui-heading w-heading hidden_3w8" data-component="text"
                                               data-animation="slide-in-bottom_LLR normal_2Pr"><span
                                                    class="w-text-block" style="display:block"><span
                                                    class="w-text-content">Мачинські Гори</span></span></p>
                                            <p class="text_1k0 ui-text w-body hidden_3w8" data-component="text"
                                               data-animation="slide-in-bottom_LLR normal_2Pr"><span
                                                    class="w-text-block" style="display:block"><span
                                                    class="w-text-content">Мачинські гори в Румунії є найстарішими горами в країні і мають велике історичне та археологічне значення.<br>Національний парк Мачинські гори приваблює різноманітних туристів, які цікавляться походами, пейзажами, флорою, фауною та можливостями дослідження.<br>У парку представлені різні рівні рослинності, включаючи степову рослинність, діброви та ліси сформовані іншими деревними породами, а також альпійські луки. Важливою локацією Національного парку Мачинські гори є Природний заповідник Букова Долина, відомий своїм унікальним Таврійським буком.</span></span>
                                            </p></div>
                                    </div>
                                    <div class="w-grid__item w-grid__item--top">
                                        <div class="w-grid__item-inner w-grid__item-panel w-text-left-xs w-text-left-sm w-text-left-md w-text-left w-088754deb0dd8820b733e12d9894218e">
                                            <div class="w-picture-wrapper media-wrapper_3VN">
                                                <picture class="w-picture hidden_3w8 ui-picture_2i5"
                                                         style="padding-top:76.67%" data-component="picture"
                                                         data-animation="slide-in-bottom_LLR normal_2Pr"
                                                         data-images="[]"
                                                         data-fallbackurl="//res2.weblium.site/res/648ae0fa3bc700000f7e2313/648f2ee3c54d7c000f75acaa_optimized_1208_c1208x1075-0x0"
                                                         data-was-processed="true"><img alt="Illustration"
                                                                                        data-fallback-url="//res2.weblium.site/res/648ae0fa3bc700000f7e2313/648f2ee3c54d7c000f75acaa_optimized_1208_c1208x1075-0x0"
                                                                                        class="w-picture__image ui-image_3aJ"
                                                                                        style="object-fit:cover;object-position:50% 100%;font-family:object-fit: cover;50% 100%"
                                                                                        src="{% static 'emtc.great-site.net/Ecosystem Management in Transformation Countries_files/648f2ee3c54d7c000f75acaa_optimized_1208_c1208x1075-0x0' %}">
                                                </picture>
                                            </div>
                                            <p class="text_1k0 ui-heading w-heading hidden_3w8" data-component="text"
                                               data-animation="slide-in-bottom_LLR normal_2Pr"><span
                                                    class="w-text-block" style="display:block"><span
                                                    class="w-text-content">Дельта Дунаю</span></span></p>
                                            <p class="text_1k0 ui-text w-body hidden_3w8" data-component="text"
                                               data-animation="slide-in-bottom_LLR normal_2Pr"><span
                                                    style="display:block" class="w-text-block "><span
                                                    class="w-text-content">Дельта Дунаю формує територію біосферного заповідника, який є одним з найбільших природних водосховищ в Європі.&nbsp;</span></span><span
                                                    style="display:block" class="w-text-block "><span
                                                    class="w-text-content">Тут зустрічається багато видів риб, включаючи дуже рідкісні. Незаконне рибальство спричиняє порушення в екосистемі та загрожує вимиранням окремим видам риб.<br>Це серйозна проблема для водосховища, тому органи влади та організації з охорони природи активно борються з нею.</span></span>
                                            </p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

{% placeholder "content" %}
{% endblock content %}
